.contact > * {
  margin: 0;
  padding: 0;
}

.contact {
  margin-top: 100px;
  width: 100%;
}

.email {
  width: 100%;
}

.email-form {
  margin: 30px auto;
  width: 90%;
  height: 20vh;
  display: flex;
  flex-direction: column; 
  text-align: center;
}

.email-label, .email-input {
  display: block;
}

.email-label {
  width: 100%;
  padding: 0;
  font-size: 16px;
  color: var(--green);
  text-align: center;
}


.email-input {
  outline: none;
  width: 50%;
  height: 30%;
  max-height: 30px;
  margin: 20px auto;
  padding: 5px;
  background-color: transparent;
  border: 2px solid var(--text-main-col);
  border-radius: 10px;
  text-align: center;
  font-size: 11px;
  color: var(--green);
  transition: all 300ms ease;
}

.email-input:focus {
  box-shadow: 0 0 10px 1px var(--green);
  width: 80%;
  border-radius: 20px;
}

.email-input::placeholder {
  color: var(--green);
  opacity: 80%;
}

.sub-text {
  color: var(--green);
  font-family: monospace;
  font-size: 10px;
  opacity: 0;
  transition: all 800ms ease;
}

.sub-text.active {
  opacity: 1;
}

/* .sub-button {
  outline: none;
  width: 30%;
  margin: 10px;
  background-color: transparent;
  color: var(--text-main-col);
  font-size: 12px;
  position: relative;
  border: 1px solid var(--text-main-col);
  opacity: 0;
  transition: all 800ms ease;
}

.sub-button.active {
  opacity: 1;
}

.sub-button:active {
  background-color: var(--txt-col);
  color: var(--footer-col);
} */

.info {
  margin: 20px auto;
  width: 100%;
  height: 100%;
}

.info > .title {
  margin: 30px auto;
  padding: 0 10px;
  color: var(--green);
}

.about-list {
  color: var(--green)
}

.product-list {
  width: 90%;
  margin: auto;
  padding: 5px;
}

.product-list > li, .about-list > li {
  margin: 10px 0;
  color: var(--green);
  cursor:default;
}

.resume {
  margin: 30px auto;
  width: 100%;
  height: 100vh;
  border: none;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  
  .email-label, .email-input {
    display: inline; 
  }
 
  .email-form {
    max-width: 470px;
    height: 40%;
  }
}