.home > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-col);
}

.home {
  margin-top: 80px;
}

.hero {
  width: 100%;
  height: 80vh;
  font-family: "Press Start 2P", cursive;
}

.video-frame {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 1000px 1px rgba(0, 0, 0, 0.336);
  z-index: 1;
}

.video-frame > video {
  display: none;
}

/*aq animacia minda glow*/
.welcome-txt {
  margin: 30px auto;
  text-align: center;
  width: 95%;
  font-size: 24px;
  line-height: 25px;
  font-family: "Nabla", cursive;
  text-shadow: 0 0 30px var(--green), 0 0 30px var(--text-main-col);
  user-select: none;
}

.txt-btn-group {
  width: 90%;
  height: 60vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contact-div,
.projects-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-text,
.projects-text {
  width: 100%;
  text-align: center;
  max-width: 400px;
  color: var(--green);
  font-size: 11px;
  line-height: 20px;
  text-shadow: 2px 2px 0 var(--magenta);
  user-select: none;
}

.pixelated-btn {
  margin: 30px 0;
  width: 60%;
  max-width: 130px;
  min-height: 18px;
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  line-height: 150%;
  font-size: 12px;
  font-family: "Press Start 2P", cursive;
  background: var(--pixel-bg);
  color: var(--green);
  transition: all 300ms ease;
  box-shadow:
	/* Inner Background Color */ 0 calc(var(--pixel) * -3) 0
      calc(var(--pixel) * -1) var(--pixel-bg),
    0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
    0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
    0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
    0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
    0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
    0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
    0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
    /* Pixel Border Layer 1 */ calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
    var(--pixel) 0 0 0 var(--pixel-border),
    0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
    0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
    0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
    0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
    0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
    0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
    0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
    0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
    0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
    0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
    /* Pixel Border Layer 2 */ calc(var(--pixel) * -2) 0 0 0
      var(--pixel-border-2),
    calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2),
    0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
    0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
    0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
    0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
    0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
    0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
    0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
    0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
    0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
    /* Border Layer 3: --pixel-border-3 */ calc(var(--pixel) * -3) 0 0 0
      var(--pixel-border-3),
    calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
    0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
    0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
    0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
    0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
    0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
    0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
    0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
    0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
    0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
    0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
    0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
    0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3),
    0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}

.pixelated-btn:active {
  transform: scale(70%);
}

.projects-rev {
  width: 98%;
  margin: 20px auto;
  transition: all 300ms ease;
}

.grid-title {
  width: 70%;
  max-width: 350px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid var(--magenta);
  color: var(--text-main-col);
}

.grid {
  display: grid;
  row-gap: 1rem;
}

.screenshot {
  margin: auto;
  padding: 0 10px;
  width: 80%;
  max-width: 370px;
  max-height: 280px;
  background-color: var(--footer-col);
  text-align: center;
  border: 1px solid var(--text-main-col);
  border-radius: 10px;
  position: relative;
  transition: all 300ms ease;
}

.shop-list,
.random-qoute {
  display: none;
}

.screenshot > img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 300ms ease;
  border-radius: 10px;
}

.screenshot > figcaption {
  margin: 5px auto;
  padding: 5px 0;
  width: 70%;
  height: 25px;
  color: var(--text-main-col);
  font-size: 13px;
  transition: all 1s ease;
  position: relative;
}

.screenshot > figcaption:before {
  content: "";
  width: 0;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
}

.screenshot > figcaption:after {
  content: "";
  width: 0;
  height: 30px;
  position: absolute;
  left: -2px;
  top: -1px;
  transition: all 300ms ease;
  border-bottom: 4px solid var(--footer-col);
}

.screenshot:hover > figcaption:before {
  width: 100%;
  border-bottom-color: var(--text-main-col);
}

.screenshot:hover > figcaption:after {
  width: calc(100% + 3px);
  transition-delay: 300ms;
}

.screenshot:active {
  transform: scale(1.05);
  box-shadow: 0 3px 7px 1px var(--text-main-col);
}

.screenshot:hover > img {
  transform: scale(1.02);
  filter: blur(2px);
}

.middle-link {
  position: absolute;
  bottom: 50%;
  left: 33%;
  width: 35%;
  height: 30px;
  transition: all 300ms ease;
  color: var(--green);
  background-color: var(--footer-col);
  font-size: 18px;
  line-height: 2rem;
  text-decoration: none;
  border: 1px solid var(--green);
  box-shadow: 0 0 10px 1px var(--green);
  border-radius: 5px;
  opacity: 0;
}

.screenshot:hover > .middle-link {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .video-frame {
    box-shadow: unset;
    flex-direction: row;
  }

  .video-frame > video {
    display: unset;
    object-fit: cover;
    width: 70%;
    height: 70%;
    border-radius: 5px;
    position: absolute;
    top: 30%;
    z-index: -1;
    filter: blur(200px);
    opacity: 60%;
  }

  .welcome-txt {
    margin-left: 2%;
    width: 50%;
    line-height: 90px;
    text-align: left;
    font-size: 70px;
    text-shadow: unset;
  }

  .gradient-word {
    margin-right: 100%;
    font-size: 90px;
  }

  /*  background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent; */

  .txt-btn-group {
    width: 50%;
    height: 100%;
    margin-left: 0;
    align-items: flex-end;
    justify-content: space-around;
  }

  .contact-div, .projects-div {
    width: 100%;
    height: 30%;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid transparent;
    border-radius: 15px;
    transition: all 300ms ease-in;
    transition-delay: 200ms;
  }

  .contact-div:hover, .projects-div:hover {
    border: 1px solid var(--green);
    transform: translateY(-5%);
    box-shadow: 0 15px 10px 1px var(--dark);
  }

  .contact-div:hover > .contact-text, .projects-div:hover > .projects-text {
    text-shadow: -2px 2px 0 var(--magenta);
  }

  .contact-text, .projects-text {
    margin: 0;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    transition: all 300ms ease;
  }

  .grid {
    grid-template-columns: repeat(2, auto);
  }

  .screenshot {
    height: 270px;
    min-width: 330px;
  }

  .bmiCalc {
    grid-area: 2/1/2 / span 2;
  }
}

@media screen and (min-width: 1024px) {
  .contact-div > i {
    position: absolute;
    top: 15px;
    left: 76%;
    font-size: 25px;
    color: var(--text-main-col);
  }

  .projects-div > i {
    position: absolute;
    bottom: 15px;
    right: 76%;
    font-size: 25px;
    color: var(--text-main-col);
  }

  .screenshot {
    padding: 0 15px;
    min-width: 320px;
  }

  .screenshot:hover {
    transform: scale(1.02);
    box-shadow: 0 3px 10px 1px var(--text-main-col);
  }

  .grid {
    margin: 50px;
    grid-template-areas: "calc bmiCalc tictactoe";
    gap: 30px;
  }

  .calc {
    grid-area: calc;
  }

  .bmiCalc {
    grid-area: bmiCalc;
  }

  .tictactoe {
    grid-area: tictactoe;
  }
}
