
.home > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-col);
}

.home {
  margin-top: 100px;
}

.hero {
  width: 100%; 
  height: 100vh;
  border-radius: 5px;
}

.video-frame {
  width: 98%;
  height: 100vh;
  border-radius: 5px;
  margin: 20px auto;
  object-fit: contain;
  position: relative;
  /* box-shadow: inset 0 0 100px 10px rgba(0, 0, 0, 0.336); */
  z-index: 1;
}

.video-frame > video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;  
  z-index: -1;
  filter: blur(200px);
  opacity: 80%;
}

h1, h3{
  text-align: center;
  margin-top: 0;
  padding: 30px;
  color: var(--dark); 
}

.gradient-word {
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 60vh;
  margin: auto;
}

.contact-div, .projects-div {
  width: 90%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.contact-text, .projects-text {
  width: 60%;
  max-width: 300px;
  margin: auto 0;
  padding: 5px; 
  color: var(--green);
}

/* aq rame martivi selectori unda vipovo */
.contact-div > i {
  position: absolute;
  top: 25px;
  left: 82%;
  font-size: 25px;
  color: var(--text-main-col);
}
.projects-div > i {
  position: absolute;
  bottom: 25px;
  right: 82%;
  font-size: 25px;
  color:var(--text-main-col);
}


.projects-rev {
  width: 98%;
  margin: 20px auto;
  transition: all 300ms ease;
}

.grid-title {
  width: 30%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid var(--magenta);
  color: var(--text-main-col);
}

.grid {
  display: grid;
  row-gap: 1rem;
}

.screenshot {
  margin: auto;
  padding: 0 10px; 
  width: 80%;
  max-width: 370px;
  max-height: 270px;
  background-color: var(--footer-col);
  text-align: center;
  border: 1px solid var(--text-main-col);
  border-radius: 10px;
  position: relative;
  transition: all 300ms ease;
}

.shop-list,
.random-qoute {
  display: none;
}

.screenshot > img {
  display: block;
  margin:10px auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 300ms ease;
  border-radius: 10px;;
}

.screenshot > figcaption {
  margin: 5px auto;
  padding: 5px 0;
  width: 70%;
  color: var(--text-main-col);
  transition: all 1s ease;
  position: relative;
}

.screenshot > figcaption:before {
  content: "";
  width: 0;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
}

.screenshot > figcaption:after {
  content: "";
  width: 0;
  height: 30px;
  position: absolute;
  left: -2px;
  top: -1px;
  transition: all 300ms ease;
  border-bottom: 4px solid var(--footer-col);
}

.screenshot:hover > figcaption:before {
  width: 100%;
  border-bottom-color: var(--text-main-col);
}

.screenshot:hover > figcaption:after {
  width: calc(100% + 3px);
  transition-delay: 300ms;
}

.screenshot:active {
  transform: scale(1.05);
  box-shadow: 0 3px 7px 1px var(--text-main-col);
}

.screenshot:hover > img{
  transform: scale(1.02);
  filter: blur(2px);
}

.middle-link {
  position: absolute;
  bottom: 50%;
  left: 33%;
  width: 35%; 
  height: 30px;
  transition: all 300ms ease;
  color: var(--green);
  background-color: var(--footer-col);
  font-size: 18px;
  line-height: 2rem;
  text-decoration: none;
  border: 1px solid var(--green);
  box-shadow: 0 0 10px 1px var(--green);
  border-radius: 5px;
  opacity: 0;
}

.screenshot:hover > .middle-link {
  opacity: 1;
}

@media screen and (min-width: 768px) {

  .grid {
    grid-template-columns: repeat(2, auto);
  }
 
  .screenshot {
    height: 270px;
    min-width: 330px;
  }

  .bmiCalc {
    grid-area: 2/1/2/span 2;
  }
}

@media screen and (min-width: 1024px) {
  .contact-div>i {
    position: absolute;
    top: 15px;
    left: 76%;
    font-size: 25px;
    color: var(--text-main-col);
  }

  .projects-div>i {
    position: absolute;
    bottom: 15px;
    right: 76%;
    font-size: 25px;
    color: var(--text-main-col);
  }

  .screenshot {
    padding: 0 15px;
    min-width: 320px;
  }

  .screenshot:hover {
    transform: scale(1.02);
    box-shadow: 0 3px 10px 1px var(--text-main-col);
  }

  .grid {
    margin: 50px;
    grid-template-areas: "calc bmiCalc tictactoe";
    gap: 30px;
  }

  .calc {
    grid-area: calc;
  }

  .bmiCalc {
    grid-area: bmiCalc;
  }

  .tictactoe {
    grid-area: tictactoe;
  }
}