:root {
  --body-col: #03293a;
  --text-main-col: #13c296;
  --nav-col: #03293a;
  --link-col: #c20388;
  --txt-col: #8f0578;
  --shadow-col: #06055e;
  --nav-font: 'Lobster', cursive;
  --footer-col: #0a0229;
  --footer-text-col: #07993f;
}