:root {
  --body-col: #03293a;
  --text-main-col: #13c296;
  --fav-light: #0aa5985e;
  --magenta: #a907b8;
  --green: #00dd63;
  --projects-col: #e9e500;
  --main-font: 'Josefin Sans', sans-serif;
  --nav-font: 'Saira Condensed', sans-serif;
  --footer-col: #0a0229;
  

  font-family: var(--main-font);
}