:root {
  --body-col: #03293a;
  --text-main-col: #13c296;
  --nav-col: #03293a;
  --link-col: #c20388;
  --txt-col: #8f0578;
  --shadow-col: #06055e;
  --main-font: 'Josefin Sans', sans-serif;
  --nav-font: 'Saira Condensed', sans-serif;
  --footer-col: #0a0229;
  --footer-text-col: #07993f;


  font-family: var(--main-font);
}